@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body, #root {
  min-height: 100%;
}

* {
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hidescroll {
  scrollbar-width: none;
}

body {
  font-family: "Noto Sans JP";
  overflow: hidden;
}